*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d2d2d2;

    font-family: Arial, Helvetica, sans-serif;

    color: #ffffff;
}


header{
    text-align: center;

    padding: 70px 20px;
}

h1{
    font-size: 60px;

    font-weight: bold;

    margin-bottom: 25px;

    color: #0f1d35;
}

header p{
    font-size: 24px;

    margin-bottom: 35px;
}

.botao-principal{
    background-color: #2f64e6;

    color: white;

    border: none;

    padding: 18px 35px;

    border-radius: 15px;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;
}

.botao-principal:hover{
    transform: scale(1.05);

    opacity: 0.9;
}


.servicos{
    padding: 50px;
}

.servicos h2{
    text-align: center;

    font-size: 45px;

    margin-bottom: 60px;
}

.cards{
    display: flex;

    justify-content: center;

    gap: 40px;

    flex-wrap: wrap;
}


.card{
    background-color: white;

    width: 320px;

    padding: 35px;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    position: relative;

    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}


.card{
    background-color: white;

    width: 320px;

    padding: 35px;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    transition: 0.3s;

    border: 3px solid transparent;
}


.card:hover{
    transform: translateY(-10px);

    border: 3px solid #2f64e6;

    box-shadow: 0 10px 25px rgba(47,100,230,0.25);
}


.card::before{
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 6px;

    background-color: rgba(26, 50, 147, 0.462);

    border-radius: 20px 20px 0 0;
}

.card h3{
    font-size: 30px;

    margin-bottom: 25px;
}

.card p{
    font-size: 22px;

    line-height: 1.5;

    margin-bottom: 30px;
}

.card button{
    background-color: #ececec;

    border: none;

    padding: 15px 30px;

    border-radius: 12px;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;
}

.card button:hover{
    background-color: #2f64e6;

    color: white;
}


footer{
    text-align: center;

    padding: 50px;

    font-size: 20px;
}